  
  header {
    background-color: #fff;
    padding: 10px 20px;
    /* color: #fff !important; */
  }
  
  header h1 {
    /* font-size: 20px; */
    color: #333;
    padding: 1px 10px;
    /* border: 1px solid #333; */
    border-radius: 15px;
    margin: 0px 10px;
  }
  
  .sidebar {
    background-color: #f4eed7;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
  }
  
  .main-content {
    margin-left: 250px;
    padding: 20px;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .submenu {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    display: none;
  }
  
  .submenu li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #555;
  }

  #toggleBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }